<table class="table table-striped table-bordered">
  <tr>
    <th>object_id</th>
    <th>object</th>
    <% @ivs.each do |iv_name| %>
      <th><%= iv_name %></th>
    <% end %>
    <% @additional_data_names.each do |data_name| %>
      <th><%= data_name %></th>
    <% end %>
  </tr>

  <% @objs.each do |obj| %>
    <tr>
      <td><%= obj.object_id %></td>
      <td><%= render(:partial => "shared/object", :locals => {:object => obj}) %></td>
      <% @ivs.each do |iv_name| %>
        <td>
          <% if obj.instance_variable_defined?(iv_name) %>
            <%= render(:partial => "shared/object", :locals => {
              :object => obj.instance_variable_get(iv_name),
              :object_owner => obj.object_id,
              :object_setter_ruby => "#{iv_name} = "}) %>
          <% else %>
            (n/a)
          <% end %>
        </td>
      <% end %>

      <% @additional_data_names.each do |data_name| %>
        <td>
          <% if @additional_data[obj].has_key?(data_name) %>
            <%= render(:partial => "shared/object", :locals => {:object => @additional_data[obj][data_name]}) %>
          <% else %>
            (n/a)
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
