<h2>Class <%= render(:partial => "shared/object", :locals => {:object => @clazz}) %></h2>

<%= render(:partial => "shared/dropdown_object_menu", :locals => {:id => "object-dropdown-menu"}) %>
<%= render(:partial => "filter") %>
<%= render(:partial => "table") %>
<%= render(:partial => "pagination") %>
