<span class="object-inline-typed-view" data-code-ruby="">
  <%= object_dropdown_begin(:object => object) %>
  {  
  <%= object_dropdown_end(:object => object) %>
   
  <% if not short or object.length == 0 %>  
    <% (0..[object.length - 1, 2].min).each do |index| %>
      <%= render(:partial => "shared/object", :object => object.keys[index]) %>
      =&gt;
      <%= render(:partial => "shared/object", :object => object[object.keys[index]]) %>

      <% if index < [object.length - 1, 3].min %>
        ,
      <% end %>
    <% end %>

    <% if object.length > 3 %>
      ...
    <% end %>
  <% else %>
    ...
  <% end %>

  <%= object_dropdown_begin(:object => object) %>
  }
  <%= object_dropdown_end(:object => object) %>
</span>
