<% if object.length > 15 %>
  <span class="tooltip-string" data-toggle="tooltip" 
      title="<%= inspection ? "" : "\"" %><%= object %><%= inspection ? "" : "\"" %>">
    <%= inspection ? "" : "\"" %><%= object[0, 15] %>...<%= inspection ? "" : "\"" %>
  </span>
<% else %>
  <%= inspection ? "" : "\"" %><%= object %><%= inspection ? "" : "\"" %>
<% end %>
