<span class="object-inline-typed-view" data-code-ruby="">
  <%= object_dropdown_begin(:object => object) %>
  [  
  <%= object_dropdown_end(:object => object) %>
  
  <% (1..[object.length, 3].min).each do |index| %>
    <%= render(:partial => "shared/object", :object => object[index]) %>

    <% if index < [object.length, 4].min %>
      ,
    <% end %>
  <% end %>

  <% if object.length > 3 %>
    ...
  <% end %>
  
  <%= object_dropdown_begin(:object => object) %>
  ]
  <%= object_dropdown_end(:object => object) %>
</span>
