<!DOCTYPE html>
<html>
<head>
  <title>MaglevObjectExplorer</title>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">

  <!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/start/jquery-ui.min.css" rel="stylesheet">-->

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <!--<link href="http://divshot.github.io/geo-bootstrap/swatch/bootstrap.min.css" rel="stylesheet">-->
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="/assets/bootstrap.css" rel="stylesheet">
  <link href="/assets/smalltalk_code.css" rel="stylesheet">
  <link href="/codemirror/lib/codemirror.css" rel="stylesheet">
  <script src="/codemirror/lib/codemirror.js" type="text/javascript"></script>
  <script src="/codemirror/addon/selection/active-line.js" type="text/javascript"></script>
  <script src="/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
  <script src="/codemirror/mode/smalltalk/smalltalk.js" type="text/javascript"></script>
  <script src="/codemirror/mode/ruby/ruby.js" type="text/javascript"></script>
  <script src="/assets/jquery.livequery.js" type="text/javascript"></script>
  <script src="/jstree/jquery.jstree.js" type="text/javascript"></script>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>

<body class="index" style="padding-top: 60px;">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/" style="padding: 5px 20px 5px;"><img src="http://maglev.github.com/images/maglev-logo.gif" style="height: 40px;">  MagLev Database Explorer</a>
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/ClassExplorer/index/<%= Class.object_id %>"><b class="icon-list-alt"></b>Class Explorer</a></li>
            <li><a href="/ObjectExplorer/graph/<%= Maglev::PERSISTENT_ROOT.object_id %>"><b class="icon-search"></b>PERSISTENT_ROOT</a></li>
            <li></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

<div style="width:95%" class="container">
  <%= yield %>
</div>

<script>
  function instancePrintIt(divContainer, id, code, language, callback) {
    instancePrintItWithData(divContainer, {"id": id, "code": code}, "/PrintIt/" + language, callback);
  }

  function instancePrintItWithData(divContainer, data, url, callback) {
    divContainer.removeClass("alert-success alert-error alert");
    divContainer.html("<b class=\"icon-refresh icon-spin\"></b> Waiting...");

    $.post(url, data, function(response) {
      if (response.status == "ok") {
        $.post("/ObjectExplorer/objectInline", {"id": response.result}, function(responseHtml) {
          divContainer.html(responseHtml);
          divContainer.addClass("alert-success");
          callback(response);
        }); 
      }
      else if (response.status == "exception") {
        divContainer.text(response.result);
        divContainer.addClass("alert-error");
        callback(response);
      }
    });

    divContainer.addClass("alert"); 
  }

  function reloadObject(id) {
    $(".object-inline-view[data-id=" + id + "]").html("<b class=\"icon-refresh icon-spin\"></b> Loading...");

    $.post("/ObjectExplorer/objectInline", {"id": id}, function(response) {
      $(".object-inline-view[data-id=" + id + "]").html($($.parseHTML(response.trim())).html());
    });
  }

  $(document).ready(function() {
    $(".tooltip-string").tooltip({animation: true, delay: {show: 500, hide: 100}});

    function editObjectInlineEvent(event) {
      var view = $(event.target).closest(".object-inline-view");
      var rubyCode = view.find(".object-inline-view-edit-ruby");
      var rubyCodeInput = rubyCode.find("input");
      
      if (view.data("object-setter-ruby") === "") {
        // Inplace edit not possible here, no setter code given
        return;
      }

      rubyCodeInput.keyup(function(event) {
        if (event.keyCode == 13) {
          rubyCodeInput.prop("disabled", true);
          var resultContainer = rubyCode.find(".object-inline-view-edit-result"); 
          var data = {
            "id": view.data("object-owner"), 
            "code": rubyCodeInput.val(),
            "setter": view.data("object-setter-ruby")
          };

          instancePrintItWithData(resultContainer, data, "/PrintIt/evaluateAndSet", function(response) {
            rubyCodeInput.hide();
            resultContainer.show();
            reloadObject(view.data("object-owner"));

            // TODO: refresh value from server
            setTimeout(function() {
              rubyCode.hide();
              view.find(".object-inline-view-view").show();
              rubyCodeInput.show();
              resultContainer.hide();
              rubyCodeInput.prop("disabled", false);
              resultContainer.removeClass("alert-error alert-success");
            }, 2500);
          });
          
        }
      });

      rubyCodeInput.val(view.find(".object-inline-typed-view").data("code-ruby"));
      view.find(".object-inline-view-view").hide();
      rubyCode.show();
    }

    $(document).on("dblclick", ".object-inline-view", editObjectInlineEvent);
    $(document).on("click", ".object-inline-typed-view-edit-button", editObjectInlineEvent);

    $(".insert-inline-object-view").livequery(function(event) {
      var id = $(this).data("id");
      var that = $(this);

      $.post("/ObjectExplorer/objectInline", {"id": id, "short": "1"}, function(response) {
        that.html(response);
      }); 
    });

  });
</script>
</body>
</html>
